<%if session[:wrong]==1%>
<script>
alert(" Oh! Wrong Name or Password,Please Try Again! ")
</script>
<%session[:wrong]=nil  end%>
<h1 style="margin-left:6%">Login</h1>
<div class="well col-md-6 " style="margin-left:6%">
 	 <p>
 	 	<%=form_tag '/login'  %>

 	 	<div class="wrapper" style="margin-left:30%">
			<%=form_tag '/login'  %>
			<b>Name:</b><br/>
			<%=text_field_tag :name %><br/>

			<b>Password:</b><br/>
			<%=password_field_tag :password %><br/><br/>
		<p>

			<%=submit_tag "Login" , class:"btn btn-primary btn-lg"  %>
			<%=link_to "Back" ,:back, class:"btn btn-primary btn-lg"  %>
		</p>
		</div>
  	</p>
</div>

