<%@articles.each do |t|%>
		<div class="well col-md-8 "  >
			<!--photo,name,timestamp-->
			<table width="auto">
				<th><tr>
  				<td>
  					<image src=<%=asset_path("user_icon.png")%>  width="50px"; height="50px" ></image>&nbsp
  					<% #image_tag("user_icon.png")%>
  				</td>
  				<td>
  					<span style="font-size:18px"><%=t.name%></span><br/>
  					<%=t.created_at%>
  				</td>
  				<td width="320px"></td>
  				<!--dropdown to edit delete-->
  				<% if login? && t.user_id==current_user.id%>
  				<td >
					 <div class="dropdown" >
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    
					    <span class="caret"></span>
					  </button>
					  <ul data-no-turbolink='true' class="dropdown-menu" aria-labelledby="dropdownMenu1" align="right">
					    <li><%= link_to "Edit" ,edit_article_path(t),:style=>"color:black;text-decoration:none; "%></li>

					    <li><%= link_to "Delete" ,article_path(t),method: :delete,data:{confirm:"Are you Sure?"},:style=>"color:black;text-decoration:none;"%></li>
					  </ul>
					</div>
  				</td>
  				<%end%>
  				</tr></th>
  			</table>

  			<!--Title-->
			<h3 style="color:blue;">	
			<%= link_to t.title ,article_path(t),:style=>"text-decoration:none;"%>
			</h3>
			<!--Content-->
			<%= t.content %><br/>
			<!--Show,Comment,Edit,Delete-->
			
			<hr/>
			<!--show many comments and delete-->
 			<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 				 Comments 
 				 <span class="badge">
 				 <%= t.comments.length%></span>
				</button>
				 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" align="right">
					 <%t.comments.each do |c|%>
					 <li>
					 	<b>&nbsp<%= c.content%>
					 	 <!--user delete comment
					 	 <%if login? && c.user_id == current_user.id%>
					 	 <%=link_to "delete" ,article_comment_path(t,c) ,method: :delete,date:{confirm:"Are you Sure?"}%>
					 	 <%end%>
					 	 -->
					 	</b><br/>
					 	<small>&nbsp by &nbsp<%=User.find(c.user_id).name%>
					 	 &nbsp<%=c.created_at%>
					 	 </small>
					 	<hr/>
					 </li>
					 <%end%>
				  </ul>
			</div>
				
		
		</div>
	
<%end%>
