<h1>New Article</h1>
<div class="well col-md-8 ">
	<%=form_for @article do |t|%>
 	 <p>
 	 	<h3 style="color:blue">Hello,<%=User.find(session[:user_id]).name%></h3>
 	 	<div class="wrapper" style="margin-left:10%">
	 	<b>Title:</b><br/>
		<%=t.text_area :title ,rows:1,cols:55 %><br/>

		<b>Content:</b><br/>
		<%=t.text_area :content ,rows:15,cols:55%><br/>

		<p>
			<%=link_to "Back" ,:back, class:"btn btn-primary btn-lg"  %>
			<%=t.submit "Save" , class:"btn btn-primary btn-lg"  %>
		</p>
		</div>
  	</p>
  	<%end%>
</div>
